<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Sauveteur</title>
</head>
<body>
    
    <form action="/ajouterSauveteur" method="POST" enctype="application/x-www-form-urlencoded" class="form-client">

        <input type="text" name="nom" id="nom" placeholder="nom">
        <input type="text" name="prenom" id="prenom" placeholder="nom">
        <input type="date" name="date_naissance" id="date_naissance" placeholder="Date de naissance">
        <input type="date" name="date_mort" id="date_mort" placeholder="Date de mort (si décédé)">
        <input type="text" name="métier" id="métier" placeholder="Métier">
        <input type="submit">

       
            <input  type="text" name="décoration" id="décoration" placeholder="décoration"
                required autocomplete="off" />
        <div id="addInput" ></div>
        <br />
            <button type="button" onClick="add();">Ajouter une décoration</button>



    </form>

</body>
</html>
<script type="text/javascript">
    function add() {
        var input = addInput.innerHTML
        addInput.innerHTML = input + '<br/><input placeholder="décoration" list="décoration" type="text" autocomplete="off" name="décoration" id="décoration" required />\n';
    }
</script>