<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cssFiles/style.css">
    <title>Acceuil</title>
</head>
<body>
    <div id="header">
        <a id="titreMenu" href="/"><h1 id="titre">Sauveteurs du Dunkerquois</h1></a>
        <a class="btnMenu" href="/listeSauveteur">Les Sauveteurs</a>
        <a class="btnMenu" href="/listeSauvetages">Les Sauvetages</a>
        <a class="btnMenu" href="/listeNavire">Les Navires</a>
        <a class="btnMenu" href="/listeDecoration">Les Décorations</a>
        <a class="btnMenu" href="/listeRecit">Les Récits</a>
    </div>
    <div id="headerTransition"></div>
    <div id="contenu">
        <% index.forEach(function(user){ %>
            <tr>
                <td>
                    <strong>
                        <%= user.nomRecit %> <%= user.dateRecit %> <%= user.auteurRecit %> <br>
                        <%= user.recit %>
                     </strong><br>
                </td>
            </tr>
        <% }) %>
    </div>
</body>
</html>