<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navire</title>
</head>
<body>
    <% index.forEach(function(user){ %>
        <tr>
            <td>
                <strong><%= user.nomNavire %> <a href="<%= user.lienNavire %>">Liens Wiki</a></strong><br>
            </td>
        </tr>
    <% }) %>
</body>
</html>